<nav class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
<div class="container">
	<a class="navbar-brand" href="./index.html"><strong>赤乌堂</strong></a>
	<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarColor02" style="">
		<ul class="navbar-nav mr-auto d-flex align-items-center">
			<li class="nav-item">
			<a class="nav-link" routerLink="">关于我们</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" routerLink="news">最新消息</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" routerLink="book">刊物一览</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" routerLink="bbs">留言板</a>
			</li>

		</ul>
	</div>
</div>
</nav>
