<nav class="topnav navbar navbar-expand-lg navbar-light fixed-top">
<div class="container">
	<a class="navbar-brand" routerLink="/"><strong>赤乌堂</strong></a>
	<button
		class="navbar-toggler"
		type="button"
		aria-controls="navbarColor02"
		[attr.aria-expanded]="isMobileMenuOpen"
		aria-label="Toggle navigation"
		[ngClass]="{ collapsed: !isMobileMenuOpen }"
		(click)="toggleMobileMenu()">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse" id="navbarColor02" [ngClass]="{ show: isMobileMenuOpen }">
		<ul class="navbar-nav mr-auto d-flex align-items-center">
			<li class="nav-item">
			<a class="nav-link" routerLink="" (click)="closeMobileMenu()">关于我们</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" routerLink="news" (click)="closeMobileMenu()">最新消息</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" routerLink="book" (click)="closeMobileMenu()">刊物一览</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" routerLink="bbs" (click)="closeMobileMenu()">投稿中心</a>
			</li>

		</ul>
	</div>
</div>
</nav>
