
<div class="container">
	<div class="row justify-content-between">
		<div class="col-md-12">
			<h5 class="font-weight-bold spanborder"><span>文章列表</span></h5>


      <div *ngFor="let issue of issues">

        <ul class="list-unstyled">
        <li class="media">
          <img height="64" src="{{ issue.avatar_url }}" class="mr-3" alt="...">
          <div class="media-body">
            <a [routerLink]="['/news', issue.id]"><h5 class="mt-0" >{{ issue.title }}</h5></a>
           {{issue.text}}
            <div class="card-text text-muted small">
              {{ issue.login }}
            </div>
            <small class="text-muted">{{ issue.created_at }}</small>
          </div>
        </li>
        </ul>

        </div>





	</div>
</div>
