<head>

    <title>赤乌堂｜留言板</title>
</head>


<div class="container pt-4 pb-4">
	<div class="row">
		<div class="col-lg-8">
      <div *ngFor="let message of messages">


        		<div class="card border-0 mb-4 box-shadow">
				<div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
					<p class="card-text">
						{{message.text}}
					</p>
					<div>
						<small class="d-block"><a class="text-muted" >by {{message.username}}  - {{ message.ip }}</a></small>
						<small class="text-muted"> {{message.time}}</small>
					</div>
				</div>
			</div>



      </div>




		</div>
		<div class="col-lg-4">
			<div class="flex-md-row mb-4 box-shadow h-xl-300">




<form [formGroup]="messageForm" (ngSubmit)="onSubmit(tokenNew.placeholder)" >
<div class="row form-group">
    <div class="col">
        <input formControlName="username" type="text" id="username" class="form-control" maxlength="10"  placeholder="你的名字" onchange="function clickInput()  {
           grecaptcha.enterprise.ready(async () => {
              const token = await grecaptcha.enterprise.execute('6LdxNFckAAAAAOEFOSOn6p1LEmXREwaSgzA5smUP', {action: 'LOGIN'});
           document.getElementById('token').setAttribute('placeholder',token);

        document.getElementById('button');
      })
        }
        clickInput()">
    </div>
</div>

<div class="form-group">
    <textarea formControlName="text" class="form-control" id="text" rows="6" maxlength="150"></textarea>
</div>

  <div class="form-group">
  <input #tokenNew formControlName="token" type="text" id="token" class="form-control" hidden [value]="tokenNew"  [placeholder]="tokenNew">
  </div>

  <div [hidden]="errorMessage ==''"
     class="alert alert-danger">
 {{errorMessage}}
</div>

<button type="submit" id="button"  class="btn btn-primary btn-round" >提交</button>
</form>

			</div>
		</div>
	</div>
</div>
